# Entorno virtual de Python
venv/

# Archivos de cache de Python
__pycache__/
*.pyc

# Archivos de entorno (¡SECRETO!)
.env

# Base de datos de SQLite (ya no la usamos, pero por si acaso)
db.sqlite3

# Archivos de Docker y VS Code
.vscode/
docker-volume-data/