

services:
  db:
    image: postgres:16
    container_name: stward_postgres
    environment:
      POSTGRES_USER: stward_user      # Coincide con .env
      POSTGRES_PASSWORD: stward_password
      POSTGRES_DB: stward_db
    ports:
      - "5433:5432"  # <--- CLAVE: Exponemos el 5432 interno en el 5433 de tu PC
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  web:
    build: .
    # ... resto del archivo igual ...
    environment:
      # ...
      - DB_HOST=db  # El contenedor web sí usa el nombre interno 'db'
      - DB_PORT=5432 # El contenedor web se conecta al puerto interno estándar
    depends_on:
      - db

volumes:
  postgres_data: